//website color
$primary-color:#130056;
$sub-color:#0048D9;
$background-color:#dedede;
$hover-color:#13007F;
$shadow-color:#DEDEDE;
$icon-color:#66788A;
$table-hover:#dedede;

$active-color:#130056;
$primary-font-color:rgba(58, 59, 63, 1);
$active-font-color: #FFFFFF;

$border-color: #3A3B3F;
$sub-border-color: #9EA0A5;

//font color
$font-color: #3A3B3F;
$sub-font-color: #9EA0A5; 


//button color
$apply-btn-color:#F77E21;
$edit-color: #130056;
$edit-hover: #130056;
$alert-color:#EC4C47;
$add-color:#47B881; 