$font: "Noto Sans Lao",
"sans-serif";
@import "./color";
@import "./const.scss";
@import "./table.scss";

body{
  height: 100%;
}
html {
    // font setting
    p{
        margin: 0 !important;
    }
    font-family: $font;
    margin: 0;
    ._container {
        margin-left: 340px;
        color: $font-color;
         padding: 20px 50px;
        &.is-small{
        min-width: 805px;
            width: 70%;
        }
        .container-header {
          color: $font-color;
          margin-bottom: 1em;
          label {
            font-size: $title-font-size;
            position: relative;
            padding-right: 5px;
          }
          label::after {
            content: "";
            min-width: 190px;
            position: absolute;
            height: 5px;
            background: $primary-color;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      
        .filter {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 1em;
          min-width: 855px;
          &.is-small-tb{
              width: 70%;
          }
          .filter-menu {
            display: flex;
            .input-group {
                position: relative;
                input {
                  padding-left: 10%;
                  margin-top: auto;
                  margin-bottom: auto;
                  width: 25vw;
                  height: 100%;
                  min-width: 300px;
                  border-radius: 5px;
                }
                i {
                  position: absolute;
                  top: 50%;
                  left: 5%;
                  transform: translate(-50%, -50%);
                }
              }
          }
          .btn-menu {
            button {
              margin-left: 10px;
            }
          }
        }
      }
    .text-title {
        color: $primary-color;
        font-size: $title-font-size;
        font-weight: 600;
        &.subtitle {
            font-size: $subtitle-font-size;
            font-weight: 500;
        }
    }
    .input_group {
        input {
          margin-bottom: $margin-bottom;
          border: $border-size solid $sub-border-color;
        }
        input:focus{
            border: $active-border-size solid $active-color;
                 box-shadow: none;
        }
      }
    .text-right{
        text-align: right;
       
    }
    .text-center{
        text-align: center;
       
    }
    //placeholder font
    ::placeholder,button {
        font-family: $font;
    }


    //table 
    .tb-large{
        width: 25%;
    }
    .tb-medium{
        width:15%;
    }
    .tb-small{
        width: 10%;
    }
    .tb-ss{
        width: 5%;
    }
}