$font: "Noto Sans Lao",
"sans-serif";
@import "./color";
@import "./const.scss";
@import "./table.scss";

body{
  height: 100%;
  font-family: $font;
  // fix sweet alert padding
  padding-right: 0px !important;

}
// ::-webkit-scrollbar {
//   display: none;
// }
html {
    // font setting
    p{
        margin: 0 !important;
    }
    margin: 0;
    ._container {
        margin-left: 340px;
        color: $font-color;
         padding: 20px 50px;
        &.is-small{
        min-width: 805px;
            width: 70%;
        }
        .container-header {
          color: $font-color;
          margin-bottom: 1em;
          label {
            font-size: $title-font-size;
            position: relative;
            padding-right: 5px;
          }
          label::after {
            content: "";
            min-width: 190px;
            position: absolute;
            height: 5px;
            background: $primary-color;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      
        .filter {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 1em;
          min-width: 855px;
          &.is-small-tb{
              width: 70%;
          }
          .filter-menu {
            display: flex;
            .input-group {
                position: relative;
                input {
                  padding-left: 10%;
                  margin-top: auto;
                  margin-bottom: auto;
                  width: 25vw;
                  height: 100%;
                  min-width: 300px;
                  border-radius: 5px;
                }
                i {
                  position: absolute;
                  top: 50%;
                  left: 5%;
                  transform: translate(-50%, -50%);
                }
              }
          }
          .btn-menu {
            button {
              margin-left: 10px;
            }
          }
        }
      }

      // form
      .spacer {
        width: 15px !important;
        visibility: hidden;
        &.s {
          width: 5px !important;
        }
        &.m {
          width: 30px !important;
        }
    
        &.left{
          padding-left: 15px !important;
        }
      }
      .spacerH {
        height: 10px !important;
        visibility: hidden;
        &.max{
          height: 25px !important;
        }
      }
      .form-container {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-radius: 5px;
        min-width: 770px;
        overflow: hidden;
        padding: 50px;
        .input-form {
          display: flex;
          &.block {
            display: block;
          }
        }
        .image-form {
          display: flex;
          .input-group {
            width: 30%;
            &.isCard {
              width: 70%;
            }
          }
        }
        .input-group {
          width: 100%;
          padding-bottom: 15px;
          &.is-check-box{
            display: flex;
                    }
          .text-input{
            font-size: $subtitle;
            font-weight: 500;
            color:$primary-color;
          }
          .img-container {
            .profile {
              box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
              border-radius: 5px;
              border-radius: 5px;
              object-fit: cover;
              width: 100%;
              height: 300px;
            }
            .personalIDCard {
              box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
              border-radius: 5px;
              border-radius: 5px;
              width: 100%;
              object-fit: cover;
              object-position: 100% 50%;
              height: 300px;
            }
          }
          input {
            border-color: $sub-border-color;
               min-width: 331px;
            width: 100%;
          }
          input:focus {
            outline: 1px solid $sub-color;
            box-shadow: none;
          }
          input:active {
            outline: 1px solid $sub-color;
            box-shadow: none;
          }
          .text-input {
            padding-bottom: 10px;
      
            display: flex;
            .required {
              color: $alert-color;
              padding-left: 3px;
            }
          }
          textarea {
            min-width: 331px !important;
            width: 100%;
            border-color: $sub-border-color;
            height: 40px;
            min-height: 40px;
            border-radius: 5px;
            padding: 7px 11px;
            resize: vertical;
            &.medium{
              height: 200px;
            }
          }
          textarea:focus-visible {
            outline: 1px solid $sub-color;
          }
      
          .dropdown {
            width: 100%;
            min-width: 331px !important;
      
            .dropdown-trigger {
              width: 100%;
              .btndropdown {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                padding: 7px 11px;
                .icon {
                  margin-left: auto !important;
                }
              }
            }
          }
        }
        .btn-menu {
          display: flex;
        }
      }
      // end form


    .text-title {
        color: $primary-color;
        font-size: $title-font-size;
        font-weight: 600;
        &.subtitle {
            font-size: $subtitle-font-size;
            font-weight: 500;
        }
    }
    .input_group {
        input {
          margin-bottom: $margin-bottom;
          border: $border-size solid $sub-border-color;
        }
        input:focus{
            border: $active-border-size solid $active-color;
                 box-shadow: none;
        }
      }
    .text-right{
        text-align: right;
       
    }
    .text-center{
        text-align: center;
       
    }
    //placeholder font
    ::placeholder,button {
        font-family: $font;
    }

    .apply-btn{
      background: $apply-btn-color;
      color: $active-font-color;
    }
    .apply-btn:hover{
      color: $active-font-color;
    }
    .apply-btn:focus{
      color: $active-font-color;

    }

}